<div id="profile">
  <h2>Profile</h2>
  <img src="<%= @user.image_url %>" alt="" />
  <p>
    <strong>First name: </strong><%= @user.first_name %>
  </p>
  <p>
    <strong>Last name: </strong><%= @user.last_name %>
  </p>
  <p>
    <strong>Email: </strong><%= @user.email %>
  </p>
  <p>
    <strong>Grade: </strong><%= @user.grade %>
  </p>

  <div id='user-<%= @user.id %>-button' class="waves-effect waves-light btn blue">
    <%= button_to "Edit Profile", dashboard_edit_path, method: :get %>
  </div>

</div>
