<div class="row" style="padding:20px">
  <h2 class="text-center">Recent Books</h2>
    <% @book_sample.each do |book| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail card-border" style="padding:20px">
          <img class="book-cover" src="<%= book.cover_url(book.isbn) %>" alt="" /><br>
          <div class="caption">
            <h3><a href="<%= book_path(book.id) %>"><%= book.title %></a></h3>
            <p>By <%= book.author_first_name %> <%= book.author_last_name %></p>
            <p style="vertical-align:bottom"><a href="#" class="btn btn-primary" role="button">Favorite</a> <a href="#" class="btn btn-default" role="button">Mark As Read</a></p>
          </div>
        </div>
      </div>
    <% end %>
</div>

<div class="row" style="padding:20px">
  <h2 class="text-center">Suggested Books</h2>
    <% @book_sample_two.each do |book| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail card-border" style="padding:20px">
          <img class="book-cover" src="<%= book.cover_url(book.isbn) %>" alt="" /><br>
          <div class="caption">
            <h3><a href="<%= book_path(book.id) %>"><%= book.title %></a></h3>
            <p>By <%= book.author_first_name %> <%= book.author_last_name %></p>
            <p style="vertical-align:bottom"><a href="#" class="btn btn-primary" role="button">Favorite</a> <a href="#" class="btn btn-default" role="button">Mark As Read</a></p>
          </div>
        </div>
      </div>
    <% end %>
</div>

<div class="row" style="padding:20px">
  <h2 class="text-center">Teacher's Choice Books</h2>
    <% @book_sample_three.each do |book| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail card-border" style="padding:20px">
          <img class="book-cover" src="<%= book.cover_url(book.isbn) %>" alt="" /><br>
          <div class="caption">
            <h3><a href="<%= book_path(book.id) %>"><%= book.title %></a></h3>
            <p>By <%= book.author_first_name %> <%= book.author_last_name %></p>
            <p style="vertical-align:bottom"><a href="#" class="btn btn-primary" role="button">Favorite</a> <a href="#" class="btn btn-default" role="button">Mark As Read</a></p>
          </div>
        </div>
      </div>
    <% end %>
</div>
