<div class="jumbotron col-md-8 col-md-offset-2 text-center card-border" style="background-color:white;padding:20px">
  <% cache(action: "show", action_suffix: "open_library", expires_in: 30.days) do %>
    <h1><%= @show_book.title %></h1>
    <img class="large-cover" src="<%= @show_book.cover_url %>" alt="" align="center" style="padding:20px"/>
    <h2 class="text-center">Author: <%= @show_book.author_name %></h2>
    <p class="text-center">ISBN: <%= @show_book.isbn %></p>
  <% end %>

    <p class="text-center">
      <div class="text-center">
        <% if current_user %>
          <%= render partial: favorite_button_for(@show_book) %>
          <%= render partial: mark_as_read_button_for(@show_book) %>
        <% else %>
          <%= button_to "Favorite", login_path, {method: :get, class: 'btn btn-primary btn-lg'} %>
          <%= button_to "Mark As Read", login_path, {method: :get, class: 'btn btn-default btn-lg'} %>
        <% end %>
      </div>
    </p>

  <% cache(action: "show", action_suffix: "google_books", expires_in: 30.days) do %>
    <% if @show_book.google_books_data.nil? %>
      <p align="left"><b>Book Description</b><br/>Not Available</p></br>
    <% else %>
      <p align="left"><b>Book Description</b><br/><%= @show_book.description %></p></br>
    <% end %>

    <p align="left">
    <b>Subjects</b></br>
    <% if @show_book.subjects.nil? %>
      Not Available
    <% else %>
      <%= @show_book.subjects.join(", ") %>
    <% end %>
    </p>
  <% end %>
</div>
