<h1 class="text-center"><%= @book.title %></h1>
<img class="center-block large-cover" src="<%= @cover_url %>" alt="" /><br>
<h3 class="text-center">Author: <%= @book.author_first_name %> <%= @book.author_last_name %></h3>
<p class="text-center">ISBN: <%= @book.isbn %></p>
  <p class="text-center"><a href="#" class="btn btn-primary" role="button">Favorite</a> <a href="#" class="btn btn-default" role="button">Mark As Read</a></p>
