<div class="jumbotron col-md-8 col-md-offset-2 text-center card-border" style="background-color:white;padding:20px">
  <h1><%= @show_book.title %></h1>
  <% cache(@show_book.book, expires_in: 30.days) do %>
    <img class="large-cover" src="<%= @show_book.cover_url %>" alt="" align="left" style="padding:20px"/>
  <% end %>
  <h2 class="text-center">Author: <%= @show_book.author_name %></h2>
  <p class="text-center">ISBN: <%= @show_book.isbn %></p>
    <p class="text-center">
      <div class="text-center">
        <% if current_user %>
          <% if UserBook.where(book_id: @show_book.book_id, user_id: current_user.id).empty? %>
            <%= button_to "Favorite", favorites_path(book_id: @show_book.book_id, user_id: current_user.id, favorited: true), {class: 'btn btn-primary btn-lg'} %></br>
            <%= button_to "Mark As Read", favorites_path(book_id: @show_book.book_id, user_id: current_user.id, read: true), {class: "btn btn-default btn-lg"} %></br>
          <% else %>
            <% if UserBook.where(book_id: @show_book.book_id, user_id: current_user.id, favorited: true, read: true).present? %>
              <%= button_to "Remove Favorite", favorite_path(book_id: @show_book.book_id, user_id: current_user.id, favorited: false), {method: :patch, class: 'btn btn-primary btn-lg'} %></br>
              <%= button_to "Remove Mark As Read", favorite_path(book_id: @show_book.book_id, user_id: current_user.id, read: false), {method: :patch, class: 'btn btn-default btn-lg'} %></br>
            <% elsif UserBook.where(book_id: @show_book.book_id, user_id: current_user.id, favorited: true, read: false).present? %>
              <%= button_to "Remove Favorite", favorite_path(book_id: @show_book.book_id, user_id: current_user.id, favorited: false), {method: :patch, class: 'btn btn-primary btn-lg'} %></br>
              <%= button_to "Mark As Read", favorite_path(book_id: @show_book.book_id, user_id: current_user.id, read: true), {method: :patch, class: 'btn btn-default btn-lg'} %></br>
            <% elsif UserBook.where(book_id: @show_book.book_id, user_id: current_user.id, favorited: false, read: true).present? %>
              <%= button_to "Favorite", favorite_path(book_id: @show_book.book_id, user_id: current_user.id, favorited: true), {method: :patch, class: 'btn btn-primary btn-lg'} %></br>
              <%= button_to "Remove Mark As Read", favorite_path(book_id: @show_book.book_id, user_id: current_user.id, read: false), {method: :patch, class: 'btn btn-default btn-lg'} %></br>
            <% else %>
              <%= button_to "Favorite", favorite_path(book_id: @show_book.book_id, user_id: current_user.id, favorited: true), {method: :patch, class: 'btn btn-primary btn-lg'} %></br>
              <%= button_to "Mark As Read", favorite_path(book_id: @show_book.book_id, user_id: current_user.id, read: true), {method: :patch, class: 'btn btn-default btn-lg'} %></br>
            <% end %>
          <% end %>
        <% else %>
        <%= button_to "Favorite", login_path, {method: :get, class: 'btn btn-primary btn-lg'} %></br>
        <%= button_to "Mark As Read", login_path, {method: :get, class: 'btn btn-default btn-lg'} %>
        <% end %>
      </div>
    </p>

  <% if @show_book.google_books_data.nil? %>
  <p align="left">Book Description: Not Available</p></br>
  <% else %>
  <p align="left">Book Description:  <%= @show_book.description %></p></br>
  <% end %>

  <p class="text-center">
  <b>Subjects:</b> </br><%= @show_book.subjects.join(", ") %>
  </p>
</div>
