<!DOCTYPE html>
<html>
<head>
  <title>Kids Catalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/navbar' %>

<% if flash[:success] %>
  <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
  </div>
<% else %>
  <% flash.each do |type, message| %>
    <div class="alert alert-info" role="alert"><%= content_tag(:div, message) %></div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
